In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [68]:
engage = pd.read_csv('C:\\Users\\tilleymusprime\\Desktop\\takehome_user_engagement.csv')

In [69]:
users = pd.read_excel('C:\\Users\\tilleymusprime\\Desktop\\takehome_users1.xlsx')
#For some reason the csv version of this file would not load. 
#to fix this, I copied and pasted the original csv into an excel file and loaded that.
#This seems to have fixed the issues

In [70]:
engage.columns.values

array(['time_stamp', 'user_id', 'visited'], dtype=object)

In [71]:
engage['time_stamp'] = pd.to_datetime(engage['time_stamp'])

In [72]:
engage1 = engage.groupby(['user_id', pd.Grouper(key='time_stamp', freq='W-MON')])['visited'].sum().reset_index().sort_values('time_stamp')

In [73]:
engage1.head()

       user_id time_stamp  visited
35484     6047 2012-06-04        1
13998     2494 2012-06-04        1
8810      1551 2012-06-04        1
27065     4584 2012-06-04        1
11988     2136 2012-06-04        1

In [75]:
users.columns.values

array(['object_id', 'creation_time', 'email', 'creation_source',
       'last_session_creation_time', 'opted_in_to_mailing_list',
       'enabled_for_marketing_drip', 'org_id', 'invited_by_user_id'],
      dtype=object)

In [76]:
#For this exercise, we will assume that org_id and user_id are the same values so we will use those to merge the two dataframes
df= pd.merge(engage1, users, how= 'outer', left_on = 'user_id', right_on = 'object_id')

In [77]:
df.columns.values

array(['user_id', 'time_stamp', 'visited', 'object_id', 'creation_time',
       'email', 'creation_source', 'last_session_creation_time',
       'opted_in_to_mailing_list', 'enabled_for_marketing_drip', 'org_id',
       'invited_by_user_id'], dtype=object)

In [78]:
#To minimize the number of columns, we will drop the name and email columns.  Our next step will be to create dummy columns
# and there are a lot of unique emails so this will keep us from having thousands of columns that don't help
df = df[['user_id', 'time_stamp', 'visited', 'creation_time',
       'creation_source', 'last_session_creation_time',
       'opted_in_to_mailing_list', 'enabled_for_marketing_drip', 'org_id',
       'invited_by_user_id']]

In [79]:
df1 = pd.get_dummies(df)
df1

,user_id,time_stamp,visited,creation_time,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,creation_source_GUEST_INVITE,creation_source_ORG_INVITE,creation_source_PERSONAL_PROJECTS,creation_source_SIGNUP,creation_source_SIGNUP_GOOGLE_AUTH
0,6047.0,2012-06-04,1.0,2012-06-02 20:33:31,1.339706e+09,1,1,298,NaN,0,0,0,0,1
1,6047.0,2012-06-11,1.0,2012-06-02 20:33:31,1.339706e+09,1,1,298,NaN,0,0,0,0,1
2,6047.0,2012-06-18,1.0,2012-06-02 20:33:31,1.339706e+09,1,1,298,NaN,0,0,0,0,1
3,2494.0,2012-06-04,1.0,2012-06-03 00:58:46,1.338685e+09,0,0,270,2494.0,0,1,0,0,0
4,1551.0,2012-06-04,1.0,2012-06-02 08:27:26,1.338798e+09,0,0,226,6434.0,1,0,0,0,0
5,4584.0,2012-06-04,1.0,2012-06-02 06:37:08,1.340693e+09,0,0,102,NaN,0,0,1,0,0
6,4584.0,2012-07-02,1.0,2012-06-02 06:37:08,1.340693e+09,0,0,102,NaN,0,0,1,0,0
7,2136.0,2012-06-04,1.0,2012-06-02 07:58:51,1.339488e+09,0,1,0,6961.0,1,0,0,0,0
8,2136.0,2012-06-18,1.0,2012-06-02 07:58:51,1.339488e+09,0,1,0,6961.0,1,0,0,0,0
9,7286.0,2012-06-04,1.0,2012-06-02 09:39:05,1.338630e+09,0,0,14,7286.0,0,1,0,0,0
10,6618.0,2012-06-04,1.0,2012-06-03 14:50:05,1.338821e+09,0,0,107,3257.0,0,1,0,0,0
11,3861.0,2012-06-04,1.0,2012-05-31 00:43:27,1.338684e+09,0,0,115,3861.0,0,1,0,0,0
12,563.0,2012-06-04,1.0,2012-06-03 19:28:08,1.338752e+09,1,0,3,NaN,0,0,0,0,1
13,10922.0,2012-06-04,1.0,2012-05-31 21:49:51,1.340056e+09,1,0,382,10922.0,0,1,0,0,0
14,10922.0,2012-06-18,1.0,2012-05-31 21:49:51,1.340056e+09,1,0,382,10922.0,0,1,0,0,0
15,2120.0,2012-06-04,1.0,2012-06-02 21:42:59,1.338673e+09,0,0,277,NaN,0,0,0,1,0
16,8991.0,2012-06-04,1.0,2012-06-03 22:14:32,1.338762e+09,0,0,75,8853.0,0,1,0,0,0
17,2973.0,2012-06-04,1.0,2012-06-03 11:34:07,1.340365e+09,0,0,324,2499.0,1,0,0,0,0
18,2973.0,2012-06-25,2.0,2012-06-03 11:34:07,1.340365e+09,0,0,324,2499.0,1,0,0,0,0
19,2568.0,2012-06-04,1.0,2012-06-02 16:44:54,1.401382e+09,0,0,314,NaN,0,0,0,1,0
20,2568.0,2012-06-11,1.0,2012-06-02 16:44:54,1.401382e+09,0,0,314,NaN,0,0,0,1,0
21,2568.0,2012-07-02,1.0,2012-06-02 16:44:54,1.401382e+09,0,0,314,NaN,0,0,0,1,0
22,2568.0,2012-07-09,2.0,2012-06-02 16:44:54,1.401382e+09,0,0,314,NaN,0,0,0,1,0
23,2568.0,2012-07-16,2.0,2012-06-02 16:44:54,1.401382e+09,0,0,314,NaN,0,0,0,1,0
24,2568.0,2012-07-30,1.0,2012-06-02 16:44:54,1.401382e+09,0,0,314,NaN,0,0,0,1,0
25,2568.0,2012-08-13,5.0,2012-06-02 16:44:54,1.401382e+09,0,0,314,NaN,0,0,0,1,0
26,2568.0,2012-08-20,1.0,2012-06-02 16:44:54,1.401382e+09,0,0,314,NaN,0,0,0,1,0
27,2568.0,2012-08-27,1.0,2012-06-02 16:44:54,1.401382e+09,0,0,314,NaN,0,0,0,1,0
28,2568.0,2012-09-10,3.0,2012-06-02 16:44:54,1.401382e+09,0,0,314,NaN,0,0,0,1,0
29,2568.0,2012-09-17,1.0,2012-06-02 16:44:54,1.401382e+09,0,0,314,NaN,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71943,NaN,NaT,NaN,2012-11-14 08:47:22,NaN,1,0,79,NaN,0,0,1,0,0
71944,NaN,NaT,NaN,2014-04-24 14:01:20,NaN,0,0,45,NaN,0,0,0,1,0
71945,NaN,NaT,NaN,2013-05-28 05:05:05,NaN,0,0,107,6618.0,0,1,0,0,0
71946,NaN,NaT,NaN,2012-10-31 01:39:46,NaN,0,0,75,NaN,0,0,1,0,0
71947,NaN,NaT,NaN,2012-10-25 12:04:50,NaN,1,0,105,NaN,0,0,1,0,0
71948,NaN,NaT,NaN,2014-05-13 18:27:42,NaN,0,0,218,NaN,0,0,1,0,0
71949,NaN,NaT,NaN,2014-04-09 08:32:48,NaN,1,0,322,9162.0,1,0,0,0,0
71950,NaN,NaT,NaN,2014-02-15 01:24:52,NaN,0,0,66,5834.0,0,1,0,0,0
71951,NaN,NaT,NaN,2012-09-12 04:55:10,NaN,0,0,4,NaN,0,0,1,0,0
71952,NaN,NaT,NaN,2014-02-09 22:23:22,NaN,0,0,119,NaN,0,0,0,1,0
71953,NaN,NaT,NaN,2013-02-14 21:47:37,NaN,0,0,178,NaN,0,0,1,0,0
71954,NaN,NaT,NaN,2013-10-14 14:50:19,NaN,0,0,255,7642.0,1,0,0,0,0
71955,NaN,NaT,NaN,2013-09-16 05:43:58,NaN,0,0,202,7794.0,1,0,0,0,0
71956,NaN,NaT,NaN,2013-06-13 04:17:57,NaN,1,0,105,NaN,0,0,0,1,0
71957,NaN,NaT,NaN,2013-05-25 04:55:25,NaN,1,0,0,4871.0,0,1,0,0,0
71958,NaN,NaT,NaN,2013-01-20 00:12:52,NaN,0,0,1,801.0,0,1,0,0,0
71959,NaN,NaT,NaN,2013-03-13 22:38:48,NaN,0,0,148,6247.0,0,1,0,0,0
71960,NaN,NaT,NaN,2013-09-27 03:53:02,NaN,0,0,36,5917.0,0,1,0,0,0
71961,NaN,NaT,NaN,2013-12-12 11:27:44,NaN,0,0,29,NaN,0,0,1,0,0
71962,NaN,NaT,NaN,2013-08-08 11:44:05,NaN,0,0,322,NaN,0,0,1,0,0
71963,NaN,NaT,NaN,2013-01-01 02:28:35,NaN,0,0,39,NaN,0,0,1,0,0
71964,NaN,NaT,NaN,2013-10-19 09:51:09,NaN,0,0,126,NaN,0,0,0,1,0
71965,NaN,NaT,NaN,2013-05-04 06:54:23,NaN,0,0,3,11854.0,1,0,0,0,0
71966,NaN,NaT,NaN,2012-09-13 23:23:11,NaN,0,0,16,7012.0,0,1,0,0,0
71967,NaN,NaT,NaN,2012-10-30 03:09:47,NaN,0,0,52,NaN,0,0,1,0,0
71968,NaN,NaT,NaN,2013-12-25 22:01:41,NaN,0,0,248,NaN,0,0,1,0,0
71969,NaN,NaT,NaN,2014-04-23 16:28:06,NaN,1,0,29,NaN,0,0,1,0,0
71970,NaN,NaT,NaN,2013-07-08 17:23:26,NaN,0,0,74,NaN,0,0,1,0,0
71971,NaN,NaT,NaN,2013-03-28 23:24:21,NaN,0,0,281,NaN,0,0,1,0,0
71972,NaN,NaT,NaN,2012-06-05 04:46:16,NaN,0,0,84,5450.0,1,0,0,0,0

In [80]:
df1.columns.values

array(['user_id', 'time_stamp', 'visited', 'creation_time',
       'last_session_creation_time', 'opted_in_to_mailing_list',
       'enabled_for_marketing_drip', 'org_id', 'invited_by_user_id',
       'creation_source_GUEST_INVITE', 'creation_source_ORG_INVITE',
       'creation_source_PERSONAL_PROJECTS', 'creation_source_SIGNUP',
       'creation_source_SIGNUP_GOOGLE_AUTH'], dtype=object)

In [81]:
df1['invited_by_user_id'] = df1['invited_by_user_id'].fillna(0)
ref = df1[df1['invited_by_user_id'] > 0]
noref = df1[df1['invited_by_user_id'] == 0]
ref['invited'] = 1
noref['invited'] = 0
df2 = pd.concat([ref, noref], axis=0)
print(df2.max(), df2.min())

C:\Users\tilleymusprime\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\tilleymusprime\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

user_id                                             12000
time_stamp                            2014-06-09 00:00:00
visited                                                 7
creation_time                         2014-05-30 23:59:19
last_session_creation_time                    1.40207e+09
opted_in_to_mailing_list                                1
enabled_for_marketing_drip                              1
org_id                                                416
invited_by_user_id                                  11999
creation_source_GUEST_INVITE                            1
creation_source_ORG_INVITE                              1
creation_source_PERSONAL_PROJECTS                       1
creation_source_SIGNUP                                  1
creation_source_SIGNUP_GOOGLE_AUTH                      1
invited                                                 1
dtype: object user_id                                                 1
time_stamp                            2012-06-04 00:00:00
visited                                                 1
creation_time                         2012-05-31 00:43:27
last_session_creation_time                    1.33845e+09
opted_in_to_mailing_list                                0
enabled_for_marketing_drip                              0
org_id                                                  0
invited_by_user_id                                      0
creation_source_GUEST_INVITE                            0
creation_source_ORG_INVITE                              0
creation_source_PERSONAL_PROJECTS                       0
creation_source_SIGNUP                                  0
creation_source_SIGNUP_GOOGLE_AUTH                      0
invited                                                 0
dtype: object

In [82]:
adopted = df2[df2['visited'] >= 3]
reject = df2[df2['visited'] < 3]
adopted['Adopted User'] = 1
reject['Adopted User'] = 0
df3 = pd.concat([adopted, reject], axis = 0)
print(df3.max(), df3.min())
#It looks like we have succesfully created our data set

C:\Users\tilleymusprime\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\tilleymusprime\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

user_id                                             12000
time_stamp                            2014-06-09 00:00:00
visited                                                 7
creation_time                         2014-05-30 23:59:19
last_session_creation_time                    1.40207e+09
opted_in_to_mailing_list                                1
enabled_for_marketing_drip                              1
org_id                                                416
invited_by_user_id                                  11999
creation_source_GUEST_INVITE                            1
creation_source_ORG_INVITE                              1
creation_source_PERSONAL_PROJECTS                       1
creation_source_SIGNUP                                  1
creation_source_SIGNUP_GOOGLE_AUTH                      1
invited                                                 1
Adopted User                                            1
dtype: object user_id                                                 1
time_stamp                            2012-06-04 00:00:00
visited                                                 1
creation_time                         2012-05-31 00:43:27
last_session_creation_time                    1.33845e+09
opted_in_to_mailing_list                                0
enabled_for_marketing_drip                              0
org_id                                                  0
invited_by_user_id                                      0
creation_source_GUEST_INVITE                            0
creation_source_ORG_INVITE                              0
creation_source_PERSONAL_PROJECTS                       0
creation_source_SIGNUP                                  0
creation_source_SIGNUP_GOOGLE_AUTH                      0
invited                                                 0
Adopted User                                            0
dtype: object

In [112]:
df3corr = df3.corr()
df3corr['Adopted User'].to_csv('C:\\Users\\tilleymusprime\Desktop\\relaxadopt.csv')

In [113]:
##Now that our dataset is complete, we will check for correlations.
#By creating the Adopted User column, we have created our target variable
df3corr = df3.corr()
df3corr['visited'].to_csv('C:\\Users\\tilleymusprime\\Desktop\\relaxvisited.csv')
#It doesn't look like there is any correlation between any of the test variables and whether or not they become an adopted user

In [86]:
df = df3

In [87]:
# import packages
import pandas as pd
import numpy as np
import pandas.core.algorithms as algos
from pandas import Series
import scipy.stats.stats as stats
import re
import traceback
import string

max_bin = 20
force_bin = 3

# define a binning function
def mono_bin(Y, X, n = max_bin):
    
    df1 = pd.DataFrame({"X": X, "Y": Y})
    justmiss = df1[['X','Y']][df1.X.isnull()]
    notmiss = df1[['X','Y']][df1.X.notnull()]
    r = 0
    while np.abs(r) < 1:
        try:
            d1 = pd.DataFrame({"X": notmiss.X, "Y": notmiss.Y, "Bucket": pd.qcut(notmiss.X, n)})
            d2 = d1.groupby('Bucket', as_index=True)
            r, p = stats.spearmanr(d2.mean().X, d2.mean().Y)
            n = n - 1 
        except Exception as e:
            n = n - 1

    if len(d2) == 1:
        n = force_bin         
        bins = algos.quantile(notmiss.X, np.linspace(0, 1, n))
        if len(np.unique(bins)) == 2:
            bins = np.insert(bins, 0, 1)
            bins[1] = bins[1]-(bins[1]/2)
        d1 = pd.DataFrame({"X": notmiss.X, "Y": notmiss.Y, "Bucket": pd.cut(notmiss.X, np.unique(bins),include_lowest=True)}) 
        d2 = d1.groupby('Bucket', as_index=True)
    
    d3 = pd.DataFrame({},index=[])
    d3["MIN_VALUE"] = d2.min().X
    d3["MAX_VALUE"] = d2.max().X
    d3["COUNT"] = d2.count().Y
    d3["EVENT"] = d2.sum().Y
    d3["NONEVENT"] = d2.count().Y - d2.sum().Y
    d3=d3.reset_index(drop=True)
    
    if len(justmiss.index) > 0:
        d4 = pd.DataFrame({'MIN_VALUE':np.nan},index=[0])
        d4["MAX_VALUE"] = np.nan
        d4["COUNT"] = justmiss.count().Y
        d4["EVENT"] = justmiss.sum().Y
        d4["NONEVENT"] = justmiss.count().Y - justmiss.sum().Y
        d3 = d3.append(d4,ignore_index=True)
    
    d3["EVENT_RATE"] = d3.EVENT/d3.COUNT
    d3["NON_EVENT_RATE"] = d3.NONEVENT/d3.COUNT
    d3["DIST_EVENT"] = d3.EVENT/d3.sum().EVENT
    d3["DIST_NON_EVENT"] = d3.NONEVENT/d3.sum().NONEVENT
    d3["WOE"] = np.log(d3.DIST_EVENT/d3.DIST_NON_EVENT)
    d3["IV"] = (d3.DIST_EVENT-d3.DIST_NON_EVENT)*np.log(d3.DIST_EVENT/d3.DIST_NON_EVENT)
    d3["VAR_NAME"] = "VAR"
    d3 = d3[['VAR_NAME','MIN_VALUE', 'MAX_VALUE', 'COUNT', 'EVENT', 'EVENT_RATE', 'NONEVENT', 'NON_EVENT_RATE', 'DIST_EVENT','DIST_NON_EVENT','WOE', 'IV']]       
    d3 = d3.replace([np.inf, -np.inf], 0)
    d3.IV = d3.IV.sum()
    
    return(d3)

def char_bin(Y, X):
        
    df1 = pd.DataFrame({"X": X, "Y": Y})
    justmiss = df1[['X','Y']][df1.X.isnull()]
    notmiss = df1[['X','Y']][df1.X.notnull()]    
    df2 = notmiss.groupby('X',as_index=True)
    
    d3 = pd.DataFrame({},index=[])
    d3["COUNT"] = df2.count().Y
    d3["MIN_VALUE"] = df2.sum().Y.index
    d3["MAX_VALUE"] = d3["MIN_VALUE"]
    d3["EVENT"] = df2.sum().Y
    d3["NONEVENT"] = df2.count().Y - df2.sum().Y
    
    if len(justmiss.index) > 0:
        d4 = pd.DataFrame({'MIN_VALUE':np.nan},index=[0])
        d4["MAX_VALUE"] = np.nan
        d4["COUNT"] = justmiss.count().Y
        d4["EVENT"] = justmiss.sum().Y
        d4["NONEVENT"] = justmiss.count().Y - justmiss.sum().Y
        d3 = d3.append(d4,ignore_index=True)
    
    d3["EVENT_RATE"] = d3.EVENT/d3.COUNT
    d3["NON_EVENT_RATE"] = d3.NONEVENT/d3.COUNT
    d3["DIST_EVENT"] = d3.EVENT/d3.sum().EVENT
    d3["DIST_NON_EVENT"] = d3.NONEVENT/d3.sum().NONEVENT
    d3["WOE"] = np.log(d3.DIST_EVENT/d3.DIST_NON_EVENT)
    d3["IV"] = (d3.DIST_EVENT-d3.DIST_NON_EVENT)*np.log(d3.DIST_EVENT/d3.DIST_NON_EVENT)
    d3["VAR_NAME"] = "VAR"
    d3 = d3[['VAR_NAME','MIN_VALUE', 'MAX_VALUE', 'COUNT', 'EVENT', 'EVENT_RATE', 'NONEVENT', 'NON_EVENT_RATE', 'DIST_EVENT','DIST_NON_EVENT','WOE', 'IV']]      
    d3 = d3.replace([np.inf, -np.inf], 0)
    d3.IV = d3.IV.sum()
    d3 = d3.reset_index(drop=True)
    
    return(d3)

def data_vars(df1, target):
    
    stack = traceback.extract_stack()
    filename, lineno, function_name, code = stack[-2]
    vars_name = re.compile(r'\((.*?)\).*$').search(code).groups()[0]
    final = (re.findall(r"[\w']+", vars_name))[-1]
    
    x = df1.dtypes.index
    count = -1
    
    for i in x:
        if i.upper() not in (final.upper()):
            if np.issubdtype(df1[i], np.number) and len(Series.unique(df1[i])) > 2:
                conv = mono_bin(target, df1[i])
                conv["VAR_NAME"] = i
                count = count + 1
            else:
                conv = char_bin(target, df1[i])
                conv["VAR_NAME"] = i            
                count = count + 1
                
            if count == 0:
                iv_df = conv
            else:
                iv_df = iv_df.append(conv,ignore_index=True)
    
    iv = pd.DataFrame({'IV':iv_df.groupby('VAR_NAME').IV.max()})
    iv = iv.reset_index()
    return(iv_df,iv)

In [88]:
final_iv, IV = data_vars(df3, df3['Adopted User'])

C:\Users\tilleymusprime\Anaconda3\lib\site-packages\ipykernel_launcher.py:94: RuntimeWarning: divide by zero encountered in log
C:\Users\tilleymusprime\Anaconda3\lib\site-packages\ipykernel_launcher.py:95: RuntimeWarning: divide by zero encountered in log
C:\Users\tilleymusprime\Anaconda3\lib\site-packages\ipykernel_launcher.py:59: RuntimeWarning: divide by zero encountered in log
C:\Users\tilleymusprime\Anaconda3\lib\site-packages\ipykernel_launcher.py:60: RuntimeWarning: divide by zero encountered in log

In [89]:
final_iv

,VAR_NAME,MIN_VALUE,MAX_VALUE,COUNT,EVENT,EVENT_RATE,NONEVENT,NON_EVENT_RATE,DIST_EVENT,DIST_NON_EVENT,WOE,IV
0,user_id,1,5783,34398,17154,0.498692,17244,0.501308,0.508387,0.491927,0.032914,0.001084
1,user_id,5784,12000,34398,16588,0.482237,17810,0.517763,0.491613,0.508073,-0.032934,0.001084
2,time_stamp,2012-06-04 00:00:00,2012-06-04 00:00:00,39,0,0.000000,39,1.000000,0.000000,0.001113,0.000000,0.257267
3,time_stamp,2012-06-11 00:00:00,2012-06-11 00:00:00,61,1,0.016393,60,0.983607,0.000030,0.001712,-4.056198,0.257267
4,time_stamp,2012-06-18 00:00:00,2012-06-18 00:00:00,91,3,0.032967,88,0.967033,0.000089,0.002510,-3.340578,0.257267
5,time_stamp,2012-06-25 00:00:00,2012-06-25 00:00:00,88,4,0.045455,84,0.954545,0.000119,0.002396,-3.006376,0.257267
6,time_stamp,2012-07-02 00:00:00,2012-07-02 00:00:00,106,3,0.028302,103,0.971698,0.000089,0.002938,-3.497970,0.257267
7,time_stamp,2012-07-09 00:00:00,2012-07-09 00:00:00,98,8,0.081633,90,0.918367,0.000237,0.002567,-2.382222,0.257267
8,time_stamp,2012-07-16 00:00:00,2012-07-16 00:00:00,118,7,0.059322,111,0.940678,0.000207,0.003167,-2.725474,0.257267
9,time_stamp,2012-07-23 00:00:00,2012-07-23 00:00:00,120,12,0.100000,108,0.900000,0.000356,0.003081,-2.159078,0.257267
10,time_stamp,2012-07-30 00:00:00,2012-07-30 00:00:00,150,10,0.066667,140,0.933333,0.000296,0.003994,-2.600911,0.257267
11,time_stamp,2012-08-06 00:00:00,2012-08-06 00:00:00,136,13,0.095588,123,0.904412,0.000385,0.003509,-2.209089,0.257267
12,time_stamp,2012-08-13 00:00:00,2012-08-13 00:00:00,153,12,0.078431,141,0.921569,0.000356,0.004022,-2.425707,0.257267
13,time_stamp,2012-08-20 00:00:00,2012-08-20 00:00:00,167,17,0.101796,150,0.898204,0.000504,0.004279,-2.139276,0.257267
14,time_stamp,2012-08-27 00:00:00,2012-08-27 00:00:00,170,24,0.141176,146,0.858824,0.000711,0.004165,-1.767406,0.257267
15,time_stamp,2012-09-03 00:00:00,2012-09-03 00:00:00,190,26,0.136842,164,0.863158,0.000771,0.004678,-1.803624,0.257267
16,time_stamp,2012-09-10 00:00:00,2012-09-10 00:00:00,190,39,0.205263,151,0.794737,0.001156,0.004308,-1.315572,0.257267
17,time_stamp,2012-09-17 00:00:00,2012-09-17 00:00:00,216,38,0.175926,178,0.824074,0.001126,0.005078,-1.506051,0.257267
18,time_stamp,2012-09-24 00:00:00,2012-09-24 00:00:00,236,30,0.127119,206,0.872881,0.000889,0.005877,-1.888532,0.257267
19,time_stamp,2012-10-01 00:00:00,2012-10-01 00:00:00,242,40,0.165289,202,0.834711,0.001185,0.005763,-1.581242,0.257267
20,time_stamp,2012-10-08 00:00:00,2012-10-08 00:00:00,240,53,0.220833,187,0.779167,0.001571,0.005335,-1.222670,0.257267
21,time_stamp,2012-10-15 00:00:00,2012-10-15 00:00:00,249,70,0.281124,179,0.718876,0.002075,0.005106,-0.900744,0.257267
22,time_stamp,2012-10-22 00:00:00,2012-10-22 00:00:00,279,63,0.225806,216,0.774194,0.001867,0.006162,-1.193997,0.257267
23,time_stamp,2012-10-29 00:00:00,2012-10-29 00:00:00,285,78,0.273684,207,0.726316,0.002312,0.005905,-0.937864,0.257267
24,time_stamp,2012-11-05 00:00:00,2012-11-05 00:00:00,276,68,0.246377,208,0.753623,0.002015,0.005934,-1.079884,0.257267
25,time_stamp,2012-11-12 00:00:00,2012-11-12 00:00:00,290,83,0.286207,207,0.713793,0.002460,0.005905,-0.875732,0.257267
26,time_stamp,2012-11-19 00:00:00,2012-11-19 00:00:00,312,87,0.278846,225,0.721154,0.002578,0.006419,-0.912046,0.257267
27,time_stamp,2012-11-26 00:00:00,2012-11-26 00:00:00,329,78,0.237082,251,0.762918,0.002312,0.007160,-1.130598,0.257267
28,time_stamp,2012-12-03 00:00:00,2012-12-03 00:00:00,336,100,0.297619,236,0.702381,0.002964,0.006732,-0.820515,0.257267
29,time_stamp,2012-12-10 00:00:00,2012-12-10 00:00:00,350,96,0.274286,254,0.725714,0.002845,0.007246,-0.934840,0.257267
...,...,...,...,...,...,...,...,...,...,...,...,...
8926,creation_time,2014-05-30 23:10:35,2014-05-30 23:10:35,1,0,0.000000,1,1.000000,0.000000,0.000029,0.000000,1.034828
8927,creation_time,2014-05-30 23:12:01,2014-05-30 23:12:01,1,0,0.000000,1,1.000000,0.000000,0.000029,0.000000,1.034828
8928,creation_time,2014-05-30 23:27:30,2014-05-30 23:27:30,1,0,0.000000,1,1.000000,0.000000,0.000029,0.000000,1.034828
8929,creation_time,2014-05-30 23:45:01,2014-05-30 23:45:01,1,0,0.000000,1,1.000000,0.000000,0.000029,0.000000,1.034828
8930,creation_time,2014-05-30 23:59:19,2014-05-30 23:59:19,1,0,0.000000,1,1.000000,0.000000,0.000029,0.000000,1.034828
8931,last_session_creation_time,1.33845e+09,1.40098e+09,22964,6116,0.266330,16848,0.733670,0.181258,0.480630,-0.975177,0.463375
8932,last_session_creation_time,1.40099e+09,1.40178e+09,22990,12603,0.548195,10387,0.451805,0.373511,0.296314,0.231526,0.463375
8933,last_session_creation_time,1.40179e+09,1.40207e+09,22842,15023,0.657692,7819,0.342308,0.445231,0.223056,0.691172,0.463375
8934,opted_in_to_mailing_list,0,0,50913,24986,0.490759,25927,0.509241,0.740501,0.739630,0.001177,0.000004
8935,opted_in_to_mailing_list,1,1,17883,8756,0.489627,9127,0.510373,0.259499,0.260370,-0.003351,0.000004
8936,enabled_for_marketing_drip,0,0,57977,28620,0.493644,29357,0.506356,0.848201,0.837479,0.012721,0.000868
8937,enabled_for_marketing_drip,1,1,10819,5122,0.473426,5697,0.526574,0.151799,0.162521,-0.068248,0.000868
8938,org_id,0,139,34726,16645,0.479324,18081,0.520676,0.493302,0.515804,-0.044605,0.002026
8939,org_id,140,416,34070,17097,0.501820,16973,0.498180,0.506698,0.484196,0.045426,0.002026
8940,invited_by_user_id,0,1525,34411,16911,0.491442,17500,0.508558,0.501185,0.499230,0.003910,0.000015
8941,invited_by_user_id,1528,11999,34385,16831,0.489487,17554,0.510513,0.498815,0.500770,-0.003913,0.000015
8942,creation_source_GUEST_INVITE,0,0,53423,26147,0.489433,27276,0.510567,0.774910,0.778114,-0.004126,0.000059
8943,creation_source_GUEST_INVITE,1,1,15373,7595,0.494048,7778,0.505952,0.225090,0.221886,0.014337,0.000059
8944,creation_source_ORG_INVITE,0,0,45446,22420,0.493333,23026,0.506667,0.664454,0.656872,0.011476,0.000256
8945,creation_source_ORG_INVITE,1,1,23350,11322,0.484882,12028,0.515118,0.335546,0.343128,-0.022343,0.000256
8946,creation_source_PERSONAL_PROJECTS,0,0,62170,30531,0.491089,31639,0.508911,0.904837,0.902579,0.002498,0.000059
8947,creation_source_PERSONAL_PROJECTS,1,1,6626,3211,0.484606,3415,0.515394,0.095163,0.097421,-0.023449,0.000059
8948,creation_source_SIGNUP,0,0,56088,27662,0.493189,28426,0.506811,0.819809,0.810920,0.010902,0.000525
8949,creation_source_SIGNUP,1,1,12708,6080,0.478439,6628,0.521561,0.180191,0.189080,-0.048152,0.000525
8950,creation_source_SIGNUP_GOOGLE_AUTH,0,0,58057,28208,0.485867,29849,0.514133,0.835991,0.851515,-0.018399,0.001829
8951,creation_source_SIGNUP_GOOGLE_AUTH,1,1,10739,5534,0.515318,5205,0.484682,0.164009,0.148485,0.099438,0.001829
8952,invited,0,0,30073,14825,0.492967,15248,0.507033,0.439363,0.434986,0.010013,0.000078
8953,invited,1,1,38723,18917,0.488521,19806,0.511479,0.560637,0.565014,-0.007778,0.000078
8954,Adopted User,0,0,35054,0,0.000000,35054,1.000000,0.000000,1.000000,0.000000,0.000000
8955,Adopted User,1,1,33742,33742,1.000000,0,0.000000,1.000000,0.000000,0.000000,0.000000

In [90]:
IV.sort_values('IV')

                              VAR_NAME        IV
0                         Adopted User  0.000000
15                             visited  0.000000
11            opted_in_to_mailing_list  0.000004
9                   invited_by_user_id  0.000015
3    creation_source_PERSONAL_PROJECTS  0.000059
1         creation_source_GUEST_INVITE  0.000059
8                              invited  0.000078
2           creation_source_ORG_INVITE  0.000256
4               creation_source_SIGNUP  0.000525
7           enabled_for_marketing_drip  0.000868
14                             user_id  0.001084
5   creation_source_SIGNUP_GOOGLE_AUTH  0.001829
12                              org_id  0.002026
13                          time_stamp  0.257267
10          last_session_creation_time  0.463375
6                        creation_time  1.034828

In [92]:
##Unfortunately, it looks like none of the variables happen enough for there to be any apparent pattern in the data

In [93]:
df3.columns.values

array(['user_id', 'time_stamp', 'visited', 'creation_time',
       'last_session_creation_time', 'opted_in_to_mailing_list',
       'enabled_for_marketing_drip', 'org_id', 'invited_by_user_id',
       'creation_source_GUEST_INVITE', 'creation_source_ORG_INVITE',
       'creation_source_PERSONAL_PROJECTS', 'creation_source_SIGNUP',
       'creation_source_SIGNUP_GOOGLE_AUTH', 'invited', 'Adopted User'],
      dtype=object)

In [96]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

In [115]:
X = df3[['user_id',
       'opted_in_to_mailing_list',
       'enabled_for_marketing_drip', 'org_id', 'invited_by_user_id',
       'creation_source_GUEST_INVITE', 'creation_source_ORG_INVITE',
       'creation_source_PERSONAL_PROJECTS', 'creation_source_SIGNUP',
       'creation_source_SIGNUP_GOOGLE_AUTH', 'invited']]

In [116]:
y = df3['visited']

In [117]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [118]:
clf=RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

In [111]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
#The model will probably not be useful but we will also be able to see the important features according to the model

Accuracy: 1.0

In [119]:
feature_imp = pd.Series(clf.feature_importances_, index= X.columns.values).sort_values(ascending=False)
feature_imp.sort_values(ascending=False)

user_id                               0.403349
org_id                                0.354224
invited_by_user_id                    0.174407
opted_in_to_mailing_list              0.020358
enabled_for_marketing_drip            0.016904
creation_source_ORG_INVITE            0.007677
creation_source_GUEST_INVITE          0.007131
creation_source_SIGNUP_GOOGLE_AUTH    0.004536
creation_source_SIGNUP                0.004374
creation_source_PERSONAL_PROJECTS     0.003673
invited                               0.003367
dtype: float64